//---------------------------------------------------------------------------
//
// Name:        dvdrental.rc
// Author:      ako
// Created:     11/14/2006 12:14:42 PM
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>

IDI_ICON_APP               ICON                    "dvdicon.ico"
